html, html * {
    color: #eeeeee !important;
    border-color: #7b16ff !important;
    background-color: #292929 !important;
  }
  
  html, body, html::before, body::before {
    background-image: none !important;
  }

  img, video {z-index: 1}
  cite, cite * {color: #029833 !important}
  video {background-color: transparent !important}
  input, textarea {background-color: #292929 !important}
  input, select, button {background-image: none !important}
  a {background-color: rgba(255, 255, 255, 0.01) !important}
  .dot {color: #7b16ff !important}
  
  :before {color: #eeeeee !important}
  :link, :link * {color: #8db2e5 !important}
  :visited, :visited * {color: #7b16ff !important}
  