<div class="footer">
  <script src="https://kit.fontawesome.com/409cfd07ae.js" crossorigin="anonymous"></script>
    <p>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-stack-overflow fa-lg" href="https://stackoverflow.com/users/17455369/simpery"></a>
      <a style="text-decoration: none; color: #7b16ff; margin-right: auto;" class="fa-regular fa-moon"></a>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-steam fa-lg" href="https://steamcommunity.com/profiles/76561198842650840"></a>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-github fa-lg" href="https://github.com/Simperee"></a>
    </p>
</div>