<div class="footer">
  <script src="https://kit.fontawesome.com/409cfd07ae.js" crossorigin="anonymous"></script>
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    <p>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-discord fa-lg" href="https://www.discord.com"></a>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-steam fa-lg" href="https://store.steampowered.com"></a>
      <a style="text-decoration: none; color: #292929;" class="fa-brands fa-github fa-lg" href="https://www.github.com"></a>
    </p>
  </div>
  {{ end }}
</div>