<div class='header'>
    <script src="https://kit.fontawesome.com/409cfd07ae.js" crossorigin="anonymous"></script>
  {{ $style := resources.Get "css/dark.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link disabled id="dark-mode-theme" rel="stylesheet" href="{{ $style.Permalink }}">
  <a class="header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <a style="text-decoration: none; color: #7b16ff;" class="fa-regular fa-moon" id="dark-mode-toggle" style="margin-right: auto;"></a>
  <script>
  var toggle = document.getElementById("dark-mode-toggle");
  var darkTheme = document.getElementById("dark-mode-theme");
  var savedTheme = localStorage.getItem("dark-mode-storage") || "light";
  setTheme(savedTheme);

  toggle.addEventListener("click", () => {
      if (toggle.className === "fa-regular fa-moon") {
          setTheme("dark");
      } else if (toggle.className === "fa-regular fa-sun") {
          setTheme("light");
      }
  });

  function setTheme(mode) {
        localStorage.setItem("dark-mode-storage", mode);
      if (mode === "dark") {
          darkTheme.disabled = false;
          toggle.className = "fa-regular fa-sun";
      } else if (mode === "light") {
          darkTheme.disabled = true;
          toggle.className = "fa-regular fa-moon";
      }
  }
  </script>
  <div class="menu-main">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
        {{end}}
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>