<div class='header'>
  {{ $style := resources.Get "css/dark.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link disabled id="dark-mode-theme" rel="stylesheet" href="{{ $style.Permalink }}">
  <a class="header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <a id="dark-mode-toggle" class="fal fa-moon-o">Toggle Dark Mode</a>
  <script>
  var toggle = document.getElementById("dark-mode-toggle");
  var darkTheme = document.getElementById("dark-mode-theme");
  var savedTheme = localStorage.getItem("dark-mode-storage") || "light";
  setTheme(savedTheme);

  function setTheme(mode) {
    localStorage.setItem("dark-mode-storage", mode);
    }

  toggle.addEventListener("click", () => {
      if (toggle.className === "fal fa-moon-o") {
          setTheme("dark");
      } else if (toggle.className === "fal fa-sun-o") {
          setTheme("light");
      }
  });

  function setTheme(mode) {
      if (mode === "dark") {
          darkTheme.disabled = false;
          toggle.className = "fal fa-sun-o";
      } else if (mode === "light") {
          darkTheme.disabled = true;
          toggle.className = "fal fa-moon-o";
      }
  }
  </script>
  <div class="menu-main">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
        {{end}}
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>