<div class='header'>
  {{if eq .Url "404.html"}}
    Custom 404 Title String
  {{else}}
    {{.Title}}
  {{end}}
  <a class="header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <div class="menu-main">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
        {{end}}
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>